<div class="row p-5">
  <div class="col-lg-5 ant-col-lg-offset-1 col-md-6 col-sm-12">
    <nz-card class="w-100 p-3">
      <eq-loader [show]="true"></eq-loader>
      <h5>Search shipments</h5>
      <div class="mt-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="Shipment ID"/>
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
        </ng-template>
      </div>
      <div class="mt-4">
        <a [routerLink]="['/shipments']">See All Shipments</a>
      </div>
    </nz-card>
  </div>
  <div class="col-lg-5 ant-col-lg-offset-1 col-md-6 col-sm-12">
    <nz-card class="w-100 p-3">
      <h5>Search Office</h5>
      <div class="mt-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="ZIP Code"/>
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
        </ng-template>
      </div>
      <div class="mt-4">
        <a>See All Offices</a>
      </div>
    </nz-card>
  </div>
</div>
