<div class="row pt-5 pb-5">
  <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
    <nz-card class="w-100 p-3">
      <eq-loader [show]="processingShipments" [overlay]="true"></eq-loader>
      <h5>Search shipments</h5>
      <div class="mt-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixShipmentButton">
          <input type="text" nz-input placeholder="Shipment ID" id="shipment" name="shipment" [(ngModel)]="shipmentId"/>
        </nz-input-group>
        <ng-template #suffixShipmentButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch
                  [disabled]="processingShipments"
                  (click)="subscriptionSearch()">Search
          </button>
        </ng-template>
      </div>
      <div class="mt-4">
        <a [routerLink]="['/shipments']">See All Shipments</a>
      </div>
    </nz-card>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
    <nz-card class="w-100 p-3">
      <eq-loader [show]="processingOffices" [overlay]="true"></eq-loader>
      <h5>Search Office</h5>
      <div class="mt-4">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixOfficeButton">
          <input type="text" nz-input placeholder="ZIP Code" id="zip" name="zip" [(ngModel)]="zip"/>
        </nz-input-group>
        <ng-template #suffixOfficeButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch
                  [disabled]="processingOffices"
                  (click)="officeSearch()">Search
          </button>
        </ng-template>
      </div>
      <div class="mt-4">
        <a [routerLink]="['/offices']">See All Offices</a>
      </div>
    </nz-card>
  </div>

</div>
