<nz-table #nzTable [nzData]="displayedData" [nzSize]="'middle'" [nzFooter]="'Rows: ' + displayedData.length">
  <thead>
  <tr>
    <th nzCustomFilter [nzShowRowSelection]="true">
      ID
      <i
        class="ant-table-filter-icon"
        nz-icon
        nz-dropdown
        #dropdown="nzDropdown"
        nzType="search"
        [nzDropdownMenu]="menu"
        [class.ant-table-filter-open]="dropdown.nzVisible"
        nzTrigger="click"
        nzPlacement="bottomRight"
        [nzClickHide]="false"
        nzTableFilter
      ></i>
    </th>
    <th nzShowFilter
        [nzFilters]="filterValueLists['type']"
        (nzFilterChange)="filterGrid('type', $event)">
      Type
    </th>
    <th nzShowFilter
        [nzFilters]="filterValueLists['weight']"
        (nzFilterChange)="filterGrid('weight', $event)">
      Weight
    </th>
    <th nzShowFilter
        [nzFilters]="filterValueLists['office']"
        (nzFilterChange)="filterGrid('office', $event)">
      Office
    </th>
    <th nzShowFilter
        [nzFilters]="filterValueLists['delivered']"
        (nzFilterChange)="filterGrid('delivered', $event)">
      Delivered
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let shipment of nzTable.data">
    <td><a [routerLink]="['/shipments', shipment.id]">{{ shipment.id }}</a></td>
    <td class="text-capitalize">{{shipment?.type?.name}}</td>
    <td>{{shipment?.weight?.desc}}</td>
    <td>{{shipment?.office?.PLZ + ', ' + shipment?.office?.name}}</td>
    <td>{{shipment?.delivered | yesNo}}</td>
  </tr>
  </tbody>
</nz-table>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="Search Shipment" [(ngModel)]="searchValue"/>
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      Search
    </button>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </div>
</nz-dropdown-menu>
